MANIFEST
*.e?p
*.profile
__pycache__
*.pyc
*.pyo
callgrind.out*
OpenGLContext.e4p
OpenGLContext.e4p
OpenGLContext.e4q
OpenGLContext.e4s
OpenGLContext.e4t
dist
.eric?project
*.~?~
core
core*
pydoc/*.html
test-results
tests/test.jpg
*.egg-info
build
tests/callcontext.txt
