include MANIFEST.in
include license.txt
include readme.txt

recursive-include tests *.jpg *.bmp *.png *.wrl *.jpeg
exclude tests/axis.wrl
exclude tests/flower.wrl
exclude tests/test.jpg
exclude tests/wrls/logo_installer.bmp
exclude tests/wrls/pyopenglchapel.wrl
include tests/*.py
include tests/*.vert
include tests/*.frag
include tests/resources/*.txt

recursive-include docs *.css *.png *.gif
include docs/*.html
include docs/images/*
include docs/style/*
include OpenGLContext/resources/*.txt
include OpenGLContext/tests/resources/*.txt
include OpenGLContext/loaders/*
include OpenGLContext/browser/*.wrl
include pydoc/*.py
exclude docs/tutorials/*.xhtml
exclude docs/tutorials/*.png
exclude tests/test-results/*.png
exclude tests/test-results/*.html

global-exclude *CVS*
global-exclude *Cvs*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pdb
global-exclude *.db
global-exclude *.max
global-exclude *.gz
global-exclude *.bat
global-exclude *.profile
global-exclude *.directory
global-exclude *.cvsignore
global-exclude *.ttf


